.footer{
    background-color: #2C313A;

    &__wrapper{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link{
       margin-left: 15px;
       cursor: pointer;
    }
}