
.header{
    z-index: 1;
    padding-top: 38px;
    position: absolute;
    left: 0;
    right: 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
        gap:30px;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
    }

    &__burger{
        display: none;
    }
}

@media(max-width: 720px){
    
    .header{

        &__wrapper{
            display: inline;
        }
    }

    .menu{
        margin-top: 7px;
        &__list{
            flex-direction: column;
            align-items: center;
            height: 220px;
            background-color: #708090;
            transform: translateY(-400px);
            justify-content: center;
           

            &.active{
                transform: translateY(7px);
                transition: all 1s;
            }
        }

        &__list--item :hover{
            color:#931430;
        }

        &__burger{
            display: block;
            z-index: 1;
            position: absolute;
            top: 40px;
            right: 15px;
            cursor: pointer;
        }
    }
}